.Signup {
    height: 100%;
    display: grid;
    /* grid-template-rows: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px; */
    text-align: center;
    align-items: center;
}

.signupTitle {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    position: center;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.Formz {
    width: 200px;
    /* margin-left: 37%;
    margin-right: 37%; */
    
}

label {
    margin-top: 20px;
    margin-right: 200px;
    font-size: 18px;
}

input[type=text] {
    margin-top: 20px;
    /* margin-right: 200px; */
    width: 200px;
    /* margin-top: 20px; */
    /* width: 20%; */
    align-items: start;
    justify-items: start;
  }
input[type=email] {
    margin-top: 20px;
    /* margin-right: 200px; */
    width: 200px;
    /* margin-top: 20px; */
    /* width: 20%; */
    align-items: start;
    justify-items: start;
  }
input[type=select] {
    margin-top: 20px;
    /* margin-right: 200px; */
    /* margin-top: 20px; */
    /* width: 20%; */
    align-items: start;
    justify-items: start;
  }

input[type=password] {
    margin-top: 20px;
    /* margin-right: 200px; */
    width: 200px;
    /* margin-top: 20px; */
    /* width: 20%; */
  }

input[type=radio] {
    margin-top: 20px;
    /* margin-right: 200px;
    width: 200px; */
    /* margin-top: 20px; */
    /* width: 20%; */
  }

  input, textarea {
    padding: 1em;
      }