.About {
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 280px 330px 1fr;
    grid-column-gap: 25px;
    background-color: rgb(161,237,253);
    font-size: 20px;
    margin-bottom: 5vh;
    font-family: "futura-pt";
}

.aboutTitle {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    position: center;
    margin-top: 16vh;
}

.About img {
    justify-self: center;
    position: relative;
    height: 225px;
}

.AboutTitle1{
    margin-bottom: 25vh;
}