.Home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-repeat: no-repeat;
    /* background-size: 100% 100vh; */
    background-position: center 0;
    position: relative;
    /* height: 100%;
    width: 100%;
    font-weight: bold; */
}

.Welcome {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 10vh;
    /* margin-bottom: 10px; */
}

.Intro {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    /* background-color: rgb(219, 227, 233); */
}

.introBackground {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgba(219, 227, 233, 0.5);
}

.plansButton {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    /* justify-self: center; */
    align-self: center;
    /* margin-top: 10vh; */
    z-index: 3;
}

.Home img {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    z-index: -1;
    position: absolute;
    /* top: 30%; */
    /* left: 30%; */
    /* bottom: 1vh; */
    height: 100vh;
    width: 100vw;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 20vh 5vw; */
    /* background-color: red; */
    /* transform: translate(-50%, -50%); */
}


.Partners ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}

.Partners ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
  }

  .Home button {
	-moz-box-shadow: 0px 4px 0px 1px #dbd0db;
	-webkit-box-shadow: 0px 4px 0px 1px #dbd0db;
	box-shadow: 0px 4px 0px 1px #dbd0db;
	background-color:#378ee5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #3281d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.Home button:hover {
	background-color:#167de3;
}
.Home button:active {
	position:relative;
	top:1px;
}
