.Contact {
  height: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  /* grid-template-columns: 1fr;  */
  grid-template-rows: 150px 150px 1fr 150px;
  background-color: rgb(159,216,203);
  font-size: 20px;
  font-family: "futura-pt";
}

  .ContactTitle {
  margin-top: 20vh;
  /* margin-left: 11vw; */
  grid-column: 1/1;
  grid-row: 1/1;
  }

  .ContactInfo {
  grid-column: 1/1;
  grid-row-start: 2/3;
  grid-row-end: 3/3;
  /* margin-left: 15vw; */
  }

  .CFormz {
    grid-column: 1/1;
  grid-row-start: 2/3;
  grid-row-end: 3/3;
  /* margin-left: 23.5vw; */
  }

  .Our {
  grid-row-start: 4;
  margin-bottom: 30vh;
  /* margin-right: 5vw; */
  /* grid-row-end: 3/3; */
  }

  .Contact button {
    /* -moz-box-shadow: 0px 4px 0px 1px #dbd0db;
    -webkit-box-shadow: 0px 4px 0px 1px #dbd0db;
    box-shadow: 0px 4px 0px 1px #dbd0db; */
    background-color:#378ee5;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #3281d1;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:15px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
  }
  .Contact button:hover {
    background-color:#167de3;
  }
  .Contact button:active {
    position:relative;
    top:1px;
  }


  .Ccontainer-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    /* grid-column-gap: 100px; */
    max-width: 800px;
    text-align: left;
    align-items: center;
    justify-items: center;
    /* margin-right: 200px; */
    /* width: 700px; */
    margin: auto;
}


.Cfn {
  grid-column: 1/2;
  grid-row: 1/2;
}
.Cln {
  grid-column: 2/2;
  grid-row: 1/2;
}
.Ce {
  grid-column: 1/2;
  grid-row: 2/3;
}
.Cs {
  grid-column: 2/2;
  grid-row: 2/3;
}
.Cm {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3/5;
}
.Csb {
  grid-column: 1/2;
  grid-row: 5/6;
  text-align: center;
}
.Ccb {
  grid-column: 2/2;
  grid-row: 5/6;
}