.Contact {
    height: 100%;
    display: grid;
    /* grid-template-rows: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px; */
    text-align: center;
    align-items: center;
    /* grid-template-columns: repeat(2, 1fr);  */
    grid-template-rows: 1fr 1fr 3fr;
    background-color: rgb(131,150,126);
}


    .ContactTitle {
    margin-top: 10vh;
    }
    .contact-form {
        grid-row-start: 3;
        grid-row-end: 8;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
        /* grid-column-start: 1;
        grid-column-end: 6; */
    }

    input[type=text] {
        width: 20%;
        height: 20px;
        padding: 20px 20px 20px 20px;
        /* margin: 8px 0; */
        box-sizing: border-box;
        border-radius:28px;
      }

      input[type=email] {
        width: 20%;
        height: 20px;
        padding: 20px 20px 20px 20px;
        /* margin: 8px 0; */
        box-sizing: border-box;
        border-radius:28px;
      }

      input[type=textarea] {
        width: 80%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        border-radius:28px;
      }

      .Contact button {
        -moz-box-shadow: 0px 4px 0px 1px #dbd0db;
        -webkit-box-shadow: 0px 4px 0px 1px #dbd0db;
        box-shadow: 0px 4px 0px 1px #dbd0db;
        background-color:#378ee5;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid #3281d1;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:15px 76px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
      }
      .Contact button:hover {
        background-color:#167de3;
      }
      .Contact button:active {
        position:relative;
        top:1px;
      }