.Container {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 500px 500px 500px; */
  grid-template-rows: .5fr .3fr .5fr;
}

.customNav{
  z-index: 3;
  /* display:grid;
  position: sticky;
  /* grid-template-columns: 1fr auto; */
  /* height: 10%; */

}

.zyllion_logo{
  /* margin-left: 20px;
  position:fixed;
  top: 15px; */
  height: 100px;
  width: 100px;
}

.nav_links{
  display: inline-block;
  position:fixed;
  top: 15px;
  right: 20px;
 }

.customNav ul li {
  margin-left: 10%;
  list-style-type: none;
  display: inline-block;
}

.customNav a{
  color: rgb(89, 135, 255);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.customNav a:hover{
  color: rgb(201, 224, 230);
}

.nav_links {
  margin-left: 35%;
  display: inline-block;
  height: 100px;
}

.nav_links ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
}

.footer{
  z-index: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-row-gap: 250px;
  margin-top: 10%;
  text-align: center;
  align-content: center;
}

.footer ul {
  display: grid;
  grid-template-columns: repeat(3, .5fr);
  align-items: center;
  /* margin-left: 30%; */
}

.footer ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.footer a{
  color: Black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.footer a:hover{
  color: rgb(102, 119, 135);
}