.Container {
  height: 100vh;
  display: grid;
  grid-template-rows:.5fr .3fr .3fr;
}

.customNav{
  z-index: 3;
  display: grid;
  /* background-color: rgba(165, 164, 164, 0.6); */
  /* background-color: rgb(76, 76, 94); */
  /* background-color: rgb(13, 83, 145); */
  background-color: rgb(5, 6, 7);
  width: 100vw;
  height: 70px;
  position: fixed;
  box-shadow: 0px 2px 9px 1px #ffffff;
 }
 .zyllion_logo{
  /* height: 10vh;
  width: 10vw; */
  margin-top: 5px;
  margin-left: 5px;
  height: 50px;
  width: 140px;
  align-content: center  
}
 .nav_links{
  position: absolute;
  width: 75vw;
  /* top: 15px; */
  /* right: 25%; */
  justify-self: right;
 }

.customNav ul li {
  /* margin: 10%; */
  margin-top: 0%;
  list-style-type: none;
 }

.customNav a{
  color: rgb(89, 135, 255);
  /* color:#378ee5; */
  /* font-size: 16px; */
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.customNav a:hover{
  /* color: black; */
  color: white;
}

.nav_links ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.customNav Button {
	/* -moz-box-shadow: 0px 2.5px 0px 1px #dbd0db;
	-webkit-box-shadow: 0px 2.5px 0px 1px #dbd0db;
	box-shadow: 0px 2.5px 0px 1px #dbd0db; */
	background-color:#378ee5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #3281d1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:4px 15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.customNav Button:hover {
	background-color:#167de3;
}
.customNav Button:active {
	position:relative;
	top:1px;
}

.HomeLogin {
  margin-left: 1vw;
  /* right: 14%;
  justify-content: right;
  justify-self: right;
  justify-items: right; */
}

.footer {
  z-index: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /* margin-top: 10%; */
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 202, 206);
  border-top: 1px solid black;
}

.footer ul {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-items: center;
  justify-content: center;
  margin-right: 3vw;

}

.footer ul li {
  list-style-type: none;
  /* display: inline-block;
  position: relative; */
}

.footer a{
  color: Black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.footer a:hover{
  color: rgb(102, 119, 135);
}